<form @onsubmit=Enter class="formInput">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">+</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" placeholder="Something to do..." @bind="newItemTitle">
    </div>
</form>

@code
{
    [CascadingParameter(Name = "todoListViewModel")]
    ITodoViewModel? todoListViewModel { get; set; }

    private string newItemTitle = string.Empty;

    private void Enter()
    {
        if (string.IsNullOrWhiteSpace(newItemTitle)) return;
        todoListViewModel?.CreateNewItem(newItemTitle);
        newItemTitle = string.Empty;
    }
}


<style>
    .form-controlllll{
        background-color: rgba(0,0,0,0.7);
        border: none;
        color: white;
    }

    .formInput {
        background-color: rgba(0,0,0,0.7);
        border: none;
        color: white;
    }

</style>