<form @onsubmit=Enter class="formInput">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">+</span>
        </div>
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" placeholder="Something to do..." @bind="newItemTitle">
    </div>
</form>

@code
{
    [CascadingParameter(Name = "todoListViewModel")]
    ITodoViewModel? todoListViewModel { get; set; }

    private string newItemTitle = string.Empty;

    private void Enter()
    {
        if (string.IsNullOrWhiteSpace(newItemTitle)) return;
        todoListViewModel?.CreateNewItem(newItemTitle);
        newItemTitle = string.Empty;
    }
}


<style>
    .form-control {
        background-color: rgba(0,0,0,0.8);
        border: none;
        color: white;
        height: auto;
    }

        .form-control:focus {
            background-color: rgba(0,0,0,0.8);
            color: white;
            outline: none;
            border-color: #cccccc;
            -webkit-box-shadow: none;
            box-shadow: none;
        }


    .input-group-text {
        background-color: rgba(0,0,0,0.8);
        border: none;
        font-size: 25px;
        padding-top:0px;
    }

    .formInput {
        background-color: rgba(0,0,0,0.8);
        color: white;
        margin: 10px;
        border-radius: 5px;
        position: sticky;
        bottom: 10px;
        height: 45px;
        margin-bottom:0px;
    }


</style>