<Sider Collapsible Collapsed=@collapsed OnCollapse=@onCollapse>
    <h3 class="header">@(collapsed ? " "  : "ToDos")</h3>
    <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
        <MenuItem Key="1">
            <Icon Type="home" Theme="outline" />
            <span>Home</span>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" />
        </MenuItem>
        <MenuItem Key="2">
            <Icon Type="check" Theme="outline" />
            <span>Todo</span>
            <NavLink class="nav-link" href="todo" Match="NavLinkMatch.All" />
        </MenuItem>
    </Menu>
</Sider>

@code {
    bool collapsed;

    void onCollapse(bool collapsed)
    {
        Console.WriteLine(collapsed);
        this.collapsed = collapsed;
    }
}

<style>
    .header {
        padding-left: 20px;
        margin: 16px 24px 16px 0;
        color: white;    
    }
</style>